<%layout("/layouts/boilerplat")%>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <body>
        <div class="row row-cols-lg-5 row-cols-12">
            <% for(reserve of reserves) {%>
                <!-- <div class="container col-lg-8 mt-4" style="width: 60rem;"> -->

                <div class="card col-lg-5 col-md-11 col-11 mt-4 d-flex ms-lg-5 mx-auto shadow">
                    <div class="show-card listing-card mt-2">
                        <img src="<%= reserve.listing.image.url %>" class="rounded"
                            style="max-height: 250px; width: 100%" />
                        <h5 class="card-title">
                            <%= reserve.listing.title %>
                        </h5>
                    </div>

                    <div class="card-body">
                        <!-- <div class="row d-flex"> -->
                        <div class="col d-flex justify-content-between">
                            <div>
                                <h6 class="d-inline">Guest Name :</h6>
                                <span class="text-dark">
                                    <b>
                                        <%= currUser.username %>
                                    </b>
                                </span>
                            </div>
                            <div>
                                <h6 class="d-inline">Mobile : </h6>
                                <span class="text-dark">
                                    <%= reserve.mobile %>
                                        </p>
                                </span>
                            </div>
                        </div>

                        <div class="col d-flex justify-content-between">
                            <div>
                                <h6 class="d-lg-inline">Check-in :</h6>
                                <span class="text-dark=">
                                    <%= reserve.checkin.toString().split(" ").slice(1,4).join(" -") %>
                                </span>
                            </div>
                            <div class="mb-3">
                                <h6 class="d-lg-inline">Check-out :</h6>
                                <span class="text-dark=">
                                    <%= reserve.checkout.toString().split(" ").slice(1,4).join(" -") %>
                                </span>
                            </div>
                        </div>

                        <div class="col d-flex justify-content-between">
                            <div>
                                <div>
                                    <span class="text-dark">
                                        <b>Adults :</b>
                                        <%= reserve.adult %>
                                    </span>
                                </div>
                                <div>
                                    <span class="text-dark">
                                        <b>Childrens :</b>
                                        <%= reserve.children %>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <span class="fs-4">Total :</span>
                                <span class="text-dark fs-5"> &#x20B9;<%= reserve.total %> </span>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="card-footer bg-white">
                        <div class="col d-flex align-items-center">
                            <div>
                            <%if(reserve.payment && reserve.payment.status!="failed"){%>
                                <%if(reserve.payment.status == "refunded"){%>
                                    <span class="badge text-bg-info" data-bs-toggle="tooltip" data-bs-title="you will receive the refund within 5-7 working days">Refund Processed</span>
                                <%}else{%>
                                    <span class="badge text-bg-success">Payment Success</span>
                                <%}%>
                            <%}else if(reserve.isCancelled==false){%>
                                <!-- Payment Form -->
                                <form id="pay-form">
                                    <input type="hidden" name="reserveId" value="<%=reserve._id%>" />
                                    <input type="hidden" name="total" value="<%=reserve.total %>" />
                                    <input type="hidden" name="description" value="Payment for Reserve ID : <%=reserve._id%>" />
                                    <input type="hidden" name="mobile" value="<%= reserve.mobile%>" />
                                    <input type="hidden" name="userName" value="<%= currUser.username%>" />
                                    <input type="hidden" name="userId" value="<%= currUser._id%>" />
                                    <input type="hidden" name="email" value="<%= currUser.email%>" />
                                    <button id="PayNow" type="submit" class="btn btn-success rounded-2 fw-bold shadow-none border-0">
                                        Pay Now
                                    </button>
                                </form>
                            <%}%>
                            <%if(reserve.payment && reserve.payment.status !== "refunded" && reserve.payment.status !== "failed" && reserve.checkin >= new Date(Date.now())){%>
                                <span class="badge text-bg-info" data-bs-toggle="tooltip" data-bs-title="You won't receive a refund due to the late cancellation.">Not Refundable</span>
                            <%}%>
                            </div>   
                            <div class="ms-auto">
                            <%if(reserve.isCancelled==true){%>
                                <span class="badge text-bg-danger">Cancelled</span>
                            <%}else if(reserve.checkout >= new Date(Date.now())){%>
                                <!-- Cancellation Form -->
                                <form class="cancel-form" action="/user/<%=currUser._id%>/reserves/<%=reserve._id%>/cancel" method="post">
                                    <input type="hidden" name="reserveId" value="<%=reserve._id%>">
                                    <button class="btn btn-dark edit-btn rounded-2 fw-bold shadow-none"
                                        type="button" data-bs-toggle="modal" data-bs-target="#cancelModel<%=reserve._id%>"
                                        name="btnCancel">
                                        Cancel Booking
                                    </button>
                                    <!-- Conformation pop-up  -->
                                    <div class="modal fade col-12" id="cancelModel<%=reserve._id%>" data-bs-backdrop="static"
                                        data-bs-keyboard="false" tabindex="-1"
                                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="modal-title">
                                                        Sailing Plans Changed? <br />
                                                        We’ve Got You Covered.
                                                    </h5>
                                                </div>
                                                <div class="modal-body">
                                                    <h4>Cancellation Policy</h4>
                                                    <ul>
                                                        <strong>No Stress Refunds:</strong>
                                                        <li>
                                                            Cancel up to 48 hours before your check-in date for
                                                            a
                                                            full refund.
                                                        </li>
                                                        <strong>Late Cancellation:</strong>
                                                        <li>
                                                            For cancellations within 48 hours of arrival, a
                                                            nominal
                                                            fee applies.
                                                        </li>
                                                        <strong>Instant Confirmation:</strong>
                                                        <li>
                                                            Receive immediate email confirmation upon successful
                                                            cancellation.
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit"
                                                        class="btn edit-btn btn-dark rounded-2 fw-bold shadow-none">
                                                        Confirm
                                                    </button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>                                
                            <%}%>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <%}%>
        </div>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>
            const payForms = document.querySelectorAll('#pay-form');

           payForms.forEach(payForm => {

                payForm.addEventListener('submit', async (e) => {
                    e.preventDefault();
                    const formData = new FormData(payForm);
                    let reserveId = formData.get('reserveId');
                    const data = {
                        reserveId: formData.get('reserveId'),
                        total: formData.get('total'),
                        description: formData.get('description'),
                        mobile: formData.get('mobile'),
                        userName: formData.get('userName'),
                        userId: formData.get('userId'),
                        email: formData.get('email')
                    };
                    await axios.post(`/user/<%=currUser._id%>/reserves/${reserveId}/payment/createOrder`, data)
                        .then(response => {
                            const res = response.data;
                            if (res.success) {
                                const options = {
                                    "key": res.key_id,
                                    "amount": res.amount,
                                    "currency": "INR",
                                    "name": res.title,
                                    "description": res.description,
                                    "order_id": res.order_id,
                                    "handler": function (response) {
                                        let resData = { ...response };
                                        axios.post(`/user/<%=currUser._id%>/reserves/${reserveId}/payment/validateSuccess`, resData);
                                        alert("Payment successfull");
                                        setTimeout(()=>{
                                            window.location.replace(window.location.href);
                                        },1000)
                                        
                                    },
                                    "prefill": {
                                        "contact": res.contact,
                                        "name": res.name,
                                        "email": res.email
                                    },
                                    "notes": {
                                        "description": res.description
                                    },
                                    "theme": {
                                        "color": "#2300a3"
                                    }
                                };
                                const razorpayObject = new Razorpay(options);
                                razorpayObject.on('payment.failed', function (response) {
                                    let resData = { ...response }
                                    alert("Payment Failed");
                                    axios.post(`/user/<%=currUser._id%>/reserves/${reserveId}/payment/validateFailure`, resData);                                    
                                });
                                razorpayObject.open();
                            }
                            else {
                                alert(res.msg);
                            }
                        }).catch((err) => {
                            alert('an err occured')
                        })
                })
            });

        </script>
    </body>